<div class="right-scroll">
  <!-- START: To Store Delivery/Balance -->
  <table class="table_six table-width">
    <thead>
      <tr>
          <td>
            <div class="toggle-button-css" *ngIf="mergeClickBool == false">
              <div>
                <mat-form-field class="full-width">
                  <input matInput placeholder="Variety" [(ngModel)]="appSharedService.searchFieldValue">
                </mat-form-field>
              </div>
            </div>
            <div class="flex-display" [class.flex-center]="mergeClickBool">
              <button mat-button *ngIf="mergeClickBool == false" (click)="mergeClick($event, 'start_merge')"><i class="material-icons rotate_90">merge_type</i> MERGE</button>
              <button mat-button *ngIf="mergeClickBool == false"><i class="material-icons rotate_90">call_split</i> SPLIT</button>
              <button mat-button *ngIf="mergeClickBool == true" (click)="mergeClick($event, 'cancel_merge')"><i class="material-icons rotate_90">merge_type</i> CANCEL MERGE</button>
            </div>
            <div class="select-plant-text" *ngIf="mergeClickBool == true">Select a plant to merge</div>
            <div class="toggle-button-css" *ngIf="mergeClickBool == false">
                <mat-button-toggle value="left">
                  Type <i class="material-icons">arrow_drop_down</i>
                </mat-button-toggle>
                <mat-button-toggle value="center" (click)="appSharedService.varietiesSort()">
                  A-Z <i class="material-icons">arrow_drop_down</i>
                </mat-button-toggle>
                <mat-button-toggle value="right" (click)="appSharedService.weekSort()">
                  Wk# <i class="material-icons">arrow_drop_down</i>
                </mat-button-toggle>
            </div>
          </td>
          <ng-container *ngFor="let head of heads6;let i=index">
            <td [ngClass]="{'merge-cell-style':i==4 || i==6}" *ngIf="!(i==4 || i==6)">
              <span [ngClass]="{'store-left':i==0}">
                <i class="material-icons rotate_45 valign_middle">arrow_drop_down</i>{{head}}</span>
            </td>
              <ng-container *ngIf="i==4">
                  <ng-container *ngFor="let trow of appSharedService.routesToShow">
                    <td class="bottom-row">
                      <span class="rotate-text">
                        <i class="material-icons rotate_45 valign_middle">arrow_drop_down</i>Route {{trow}} 
                        <i class="material-icons rotate_45 print-icon valign_middle">print</i>
                      </span>
                    </td>
                  </ng-container>
              </ng-container>
              <ng-container *ngIf="i==6">
                  <td class="bottom-row"><span class="rotate-text"><i class="material-icons rotate_45 valign_middle">arrow_drop_down</i>#Discarded</span></td>
                  <td class="bottom-row" style="width:57%"><span class="rotate-text"><i class="material-icons rotate_45 valign_middle">arrow_drop_down</i>Reason Code</span></td>
              </ng-container>
          </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of appSharedService.varietyOptions | SearchVarieties: appSharedService.searchFieldValue; let i=index;"
        class="form-input-model" [hidden]="item.type !=='PLANTING'">
        <td>
          <div class="icon-box" (click)="appSharedService.openDialog(item)">
            <svg class="icon" [ngClass]="item.color_id">
            <use [attr.href]="item.url" />
            </svg>
            </div>
            <span>{{item.name}}<s class="secondary-text">{{ item.weekNumber ? '  Wk' + item.weekNumber : ''}}</s></span>
        </td>
        <td class="store-delivery-table-margin">
          <input matInput name="lot_no" [(ngModel)]="item.plugTray.seedLotNumber" disabled>
        </td>
        <td>
          <input matInput name="rl_no" [(ngModel)]="item.plantingInfo.locatorNumber" disabled> 
        </td>
        <td>
          <input matInput name="b_no" [(ngModel)]="item.plantingInfo.houseBay" disabled>
        </td>
        <td>
          <input matInput name="total" [(ngModel)]="item.salableInfo.totalFlatsToSale" disabled>
        </td>
        <td *ngFor="let route of appSharedService.routesToShow;let in = index;">
          <input matInput name="sixtyeight" (blur)="updateRouteTotal(in,item)" [(ngModel)]="item.appStoreDelivery.deliveryQuantity[in]">
        </td>
        <td>
          <span>{{deliveredTotal[i] || item.appStoreDelivery.delivered}}</span>
        </td>
        <td>
          <input matInput type="number" name="ts_d" [(ngModel)]="item.appStoreDelivery.discarded" (blur)="updatePlugToDeliverData(item)">
        </td>
        <td>
          <mat-select placeholder="" #select="matSelect" [disabled]="!item.appStoreDelivery.discarded" [(ngModel)]="item.appStoreDelivery.reasonCode" (ngModelChange)="updatePlugToDeliverData(item)">
            <mat-select-trigger>{{select.selected?.viewValue.split(' (')[0]}}</mat-select-trigger>
            <mat-option *ngFor="let rc of reasonCodes" [value]="rc.code">{{ rc.code }} ({{rc.reason}})</mat-option>
          </mat-select>
        </td>
        <td>
          <input matInput name="totalBalance" [(ngModel)]="item.plantingInfo.finishedTrays" disabled>
        </td>
        <td>
          <!-- <input matInput name="check" [(ngModel)]="item.appStoreDelivery.check" (blur)="updatePlugToDeliverData(item)"> -->
          {{(item.salableInfo.totalFlatsToSale || 0) - (item.appStoreDelivery.delivered || 0) !== 0 ? (item.salableInfo.totalFlatsToSale || 0) - (item.appStoreDelivery.delivered || 0) : ""}} 
          <mat-checkbox [hidden]="(item.salableInfo.totalFlatsToSale - item.appStoreDelivery.delivered) !== 0 " class="example-margin" [checked]="item.salableInfo.totalFlatsToSale - item.appStoreDelivery.delivered == 0" (blur)="updatePlugToDeliverData(item)"></mat-checkbox>
          
        </td> 
      </tr>
      <tr>
        <td>Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{totalCount}}</td>
        <td *ngFor="let totalVal of appSharedService.routeTotal">{{totalVal}}</td>
        <td>{{sumPlantsDelivered}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <!-- END: To Store Delivery/Balance -->


</div>
