<div class="right-scroll">

  <!-- START: Ship To -->
  <table class="table_four table-width">
    <thead>
      <tr>
        <td>
          <div class="toggle-button-css" *ngIf="mergeClickBool == false">
            <div>
              <mat-form-field class="full-width">
                <input matInput placeholder="Variety" [(ngModel)]="appSharedService.searchFieldValue">
              </mat-form-field>
            </div>
          </div>
          <div class="flex-display" [class.flex-center]="mergeClickBool">
            <button mat-button *ngIf="mergeClickBool == false" (click)="mergeClick($event, 'start_merge')"><i class="material-icons rotate_90">merge_type</i> MERGE</button>
            <button mat-button *ngIf="mergeClickBool == false"><i class="material-icons rotate_90">call_split</i> SPLIT</button>
            <button mat-button *ngIf="mergeClickBool == true" (click)="mergeClick($event, 'cancel_merge')"><i class="material-icons rotate_90">merge_type</i> CANCEL MERGE</button>
          </div>
          <div class="select-plant-text" *ngIf="mergeClickBool == true">Select a plant to merge</div>
          <div class="toggle-button-css" *ngIf="mergeClickBool == false">
            <mat-button-toggle value="left">
              Type <i class="material-icons">arrow_drop_down</i>
            </mat-button-toggle>
            <mat-button-toggle value="center" (click)="appSharedService.varietiesSort()">
              A-Z <i class="material-icons">arrow_drop_down</i>
            </mat-button-toggle>
            <mat-button-toggle value="right" (click)="appSharedService.weekSort()">
              Wk# <i class="material-icons">arrow_drop_down</i>
            </mat-button-toggle>
          </div>
        </td>
        <td *ngFor="let head of heads4">
          <span><i class="material-icons rotate_45 valign_middle">arrow_drop_down</i>{{head.name}}</span>
        </td>
        <td *ngFor="let location of appSharedService.currentGreenHouseLocation.shipToLocations;let i= index">
          <span><i class="material-icons rotate_45 valign_middle" (click)="removeShipToLoc(location, i)" style="cursor: pointer;">clear</i>Ship to {{location.city}}, {{ location.state}}</span>
        </td>
        <td>
          <span (click)="enableAutoCompleteSearch()"><i class="material-icons rotate_45 valign_middle" style="cursor: pointer;">add_circle</i>Ship To</span>
          <mat-card class="mat-card auto-comp-cont" *ngIf="shipToClicked">
            <mat-card-content class="mat-card-content">
              <mat-form-field>
                <input type="text" matInput [(ngModel)]="newCity" placeholder="Enter Shipping location" [matAutocomplete]="plant">
              </mat-form-field>
              <mat-autocomplete #plant="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let location of locations; let in = index" [value]="location.city" (onSelectionChange)="addShipToLoc($event, location, in)">
                  {{location.city}}, {{location.state}}
                </mat-option>
              </mat-autocomplete>
            </mat-card-content>
          </mat-card>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of appSharedService.varietyOptions | SearchVarieties: appSharedService.searchFieldValue" class="form-input-model" [hidden]="item.type !=='PLANTING'">
        <td>
          <div class="icon-box" (click)="appSharedService.openDialog(item)">
            <svg class="icon" [ngClass]="item.color_id">
              <use [attr.href]="item.url" />
            </svg>
          </div>
          <span>{{item.name}}<s class="secondary-text">{{ item.weekNumber ? '  Wk' + item.weekNumber : ''}}</s></span>
        </td>
        <td class="td-lg">
          <input matInput onclick="this.select();" name="seedLotNumber" [(ngModel)]="item.plugTray.seedLotNumber" [disabled]="true">
        </td>
        <td class="td-sm">
          <input matInput onclick="this.select();" name="ft" [(ngModel)]="item.plantingInfo.finishedTrays" [disabled]="true">
        </td>
        <td class="td-sm">
          <input matInput onclick="this.select();" name="rl_no" [(ngModel)]="item.plantingInfo.locatorNumber" [disabled]="true">
        </td>
        <td class="td-md">
          <input matInput onclick="this.select();" name="b_no" [(ngModel)]="item.plantingInfo.houseBay" [disabled]="true">
        </td>
        <td class="td-sm" *ngFor="let loc of appSharedService.currentGreenHouseLocation.shipToLocations;let ind = index">
          <input matInput onclick="this.select();" type="number" name="stchi" [(ngModel)]="item.shipToInfo[ind].qty" (blur)="updatePlugToDeliverData(item, ind)"
            [disabled]="item.shipToInfo[ind].disableInput">
        </td>
        <td></td>
      </tr>
      <tr class="disabled-row">
        <td>Total</td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td *ngFor="let location of appSharedService.currentGreenHouseLocation.shipToLocations">{{ location.totalShipToQuantities || 0 }}</td>
        <td></td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td *ngFor="let loc of appSharedService.currentGreenHouseLocation.shipToLocations;let i=index" matTooltip="Please correct above input error"
          [matTooltipDisabled]="!inputErrorCheck(loc, i)">
          <button mat-raised-button color="primary" (click)="shipColumn(loc, i)" [disabled]="inputErrorCheck(loc, i)">Ship</button>
          <!--[disabled]="inputErrorCheck(loc)"-->
          <!--<button mat-raised-button color="basic" (click)="updateShip(loc)">Update</button>-->
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <!-- END: Ship To -->
</div>
