<div class="right-scroll">

  <!-- START: Ship To -->
  <table *ngIf="active == 4" class="table_four table-width">
    <thead>
    <tr>
      <td>
        <div class="toggle-button-css" *ngIf="mergeClickBool == false"> 
          <div>
            <md-form-field class="full-width">
              <input mdInput placeholder="Variety">
            </md-form-field>
          </div>
        </div>
        <div class="flex-display" [class.flex-center]="mergeClickBool">
          <button md-button *ngIf="mergeClickBool == false" (click)="mergeClick($event, 'start_merge')"><i class="material-icons rotate_90">merge_type</i> MERGE</button>
          <button md-button *ngIf="mergeClickBool == false"><i class="material-icons rotate_90">call_split</i> SPLIT</button>
          <button md-button *ngIf="mergeClickBool == true" (click)="mergeClick($event, 'cancel_merge')"><i class="material-icons rotate_90">merge_type</i> CANCEL MERGE</button>
        </div>
        <div class="select-plant-text" *ngIf="mergeClickBool == true">Select a plant to merge</div>
        <div class="toggle-button-css" *ngIf="mergeClickBool == false">
          <md-button-toggle-group #group="mdButtonToggleGroup">
            <md-button-toggle value="left">
              Type <i class="material-icons">arrow_drop_down</i>
            </md-button-toggle>
            <md-button-toggle value="center" (click)="sort()">
              A-Z <i class="material-icons">arrow_drop_down</i>
            </md-button-toggle>
            <md-button-toggle value="right">
              Wk# <i class="material-icons">arrow_drop_down</i>
            </md-button-toggle>
          </md-button-toggle-group>
        </div>
      </td>
      <td *ngFor="let head of heads4">
        <span><i class="material-icons rotate_90 valign_middle">arrow_drop_down</i>{{head.name}}</span>
        <!-- <span *ngIf="head.icon=='cross'"><i class="material-icons valign_middle">clear</i>{{head.name}}</span>
        <span *ngIf="head.icon=='add'"><i class="material-icons valign_middle">add_circle</i>{{head.name}}</span> -->
      </td>
      <td *ngFor="let head of locationNames;let ind= index">
        <span><i class="material-icons valign_middle" (click)="removeShipToLoc(ind)">clear</i>{{head}}</span>
      </td>
      <td>
        <span (click)="openACPanel()"><i class="material-icons valign_middle">add_circle</i>Ship TO</span>
        <div *ngIf="showAC" class="auto-comp-cont">
          <md-form-field>
            <input #locAC type="text" mdInput [(ngModel)]="newCity" placeholder="Enter location" [mdAutocomplete]="plant">
            {{locAC.focus()}}
          </md-form-field>
          <md-autocomplete #plant="mdAutocomplete" [displayWith]="displayFn">
            <md-option *ngFor="let option of commonData.locations" [value]="option.city" (onSelectionChange)="addShipToLoc($event, option)">
              {{ option.city }}
            </md-option>
          </md-autocomplete>
        </div>
      </td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of commonData.plantData" class="form-input-model">
      <td>
        <div [innerHTML]="item['nameHtml']" (click)="openDialog(item)" class="icon-box"></div>
        <span>{{item.name}}</span>
      </td>
      <td>
        <input mdInput name="seedLotNumber" [(ngModel)]="item.plugTray.seedLotNumber">
      </td>
      <td>
        <input mdInput name="ft" [(ngModel)]="item.plantingInfo.finishedTrays">
      </td>
      <td>
        <input mdInput name="rl_no" [(ngModel)]="item.plantingInfo.locatorNumber">
      </td>
      <td>
        <input mdInput name="b_no" [(ngModel)]="item.receivingData.houseBay">
      </td>
      <td *ngFor="let loc of locationNames;let ind = index" [ngClass]="{'disabled-row':disabledColumns[ind+5]}">
        <input mdInput name="stchi" [(ngModel)]="item.shipToData.locationValues[ind]" [disabled]="disabledColumns[ind+5]" (blur)="getTotalOfColumn(ind)">
      </td>
      <!-- <td [ngClass]="{'disabled-row':disabledColumns[6]}">
        <input mdInput name="stmin" [(ngModel)]="item.stmin" [disabled]="disabledColumns[6]">
      </td>
      <td [ngClass]="{'disabled-row':disabledColumns[7]}">
        <input mdInput name="stdes" [(ngModel)]="item.stdes" [disabled]="disabledColumns[7]">
      </td>
      <td [ngClass]="{'disabled-row':disabledColumns[8]}">
        <input mdInput name="stmil" [(ngModel)]="item.stmil" [disabled]="disabledColumns[8]">
      </td>
      <td [ngClass]="{'disabled-row':disabledColumns[9]}">
        <input mdInput name="ststl" [(ngModel)]="item.ststl" [disabled]="disabledColumns[9]">
      </td> -->
      <td></td>
      <!-- <td class="add-neg-ship">
        <button md-raised-button color="primary" *ngIf="!item.shipped" (click)="shipPlant(item)">SHIP</button>
        <button md-raised-button color="basic" *ngIf="item.shipped" (click)="cancelShip(item)">CANCEL SHIP</button>
      </td> -->
    </tr>
    <tr class="disabled-row">
      <td>Total</td>
      <td *ngFor="let val of totalOfLocation">{{val}}</td>
      <!-- <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td> -->
    </tr>
    <tr>
      <td>
      </td>
      <td>
        
      </td>
      <td>

      </td>
      <td>

      </td>
      <td>

      </td>
      <td *ngFor="let shipbtn of locationNames;let i=index">
        <button md-raised-button color="primary" *ngIf="!disabledColumns[i+5]" (click)="shipColumn(shipbtn)">Ship</button>
        <button md-raised-button color="basic" *ngIf="disabledColumns[i+5]" (click)="cancelShip(shipbtn)">CANCEL SHIP</button>
      </td>
      
    </tr>
    </tbody>
  </table>
  <!-- END: Ship To -->
  
  </div>
