<div [ngClass]="{'disable-all': appSharedService.loggedInUserGreenHouseLocation != appSharedService.currentGreenHouseLocation.city}">
  <div class="right-scroll">
    <table class="table_six table-width">
      <thead>
        <tr>
          <td>
            <div class="toggle-button-css" *ngIf="mergeClickBool == false">
              <div>
                <mat-form-field class="full-width">
                  <input matInput placeholder="Variety" [(ngModel)]="appSharedService.searchFieldValue">
                </mat-form-field>
              </div>
            </div>
            <div class="flex-display" [class.flex-center]="mergeClickBool">
              <div class="wk-select-box">
                <label for="startWeek">Start Wk#</label>
                <mat-select [(ngModel)]="startWeek" name="startWeek" (change)="filterVariety()">
                  <mat-option *ngFor="let wk of weekNumbers" [value]="wk">
                    {{wk}}
                  </mat-option>
                </mat-select>
              </div>
              to
              <div class="wk-select-box">
                <label class="pos-relative" for="startWeek">End Wk#</label>
                <mat-select [(ngModel)]="endWeek" name="stopWeek" (change)="filterVariety()">
                  <mat-option *ngFor="let wk of weekNumbers" [value]="wk">
                    {{wk}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
            <div class="toggle-button-css">
              <mat-button-toggle value="left" (click)="appSharedService.typeSort()">
                Type
                <i class="material-icons">arrow_drop_down</i>
              </mat-button-toggle>
              <mat-button-toggle value="center" (click)="appSharedService.varietiesSort()">
                A-Z
                <i class="material-icons">arrow_drop_down</i>
              </mat-button-toggle>
              <mat-button-toggle value="right" (click)="appSharedService.weekSort()">
                Wk#
                <i class="material-icons">arrow_drop_down</i>
              </mat-button-toggle>
            </div>
          </td>
          <ng-container *ngFor="let head of heads6;let i=index">
            <td [ngClass]="{'merge-cell-style':i==4 || i==6}" *ngIf="!(i==4 || i==6)">
              <span [ngClass]="{'store-left':i==0}">
              <i class="material-icons rotate_45 valign_middle">arrow_drop_down</i>{{head}}</span>
            </td>
            <ng-container *ngIf="i==4">
              <ng-container *ngFor="let trow of appSharedService.currentGreenHouseLocation.routes">
                <td class="bottom-row">
                  <span class="rotate-text">
                  <i class="material-icons rotate_45 valign_middle">arrow_drop_down</i>Route {{trow}}
                  <i class="material-icons rotate_45 print-icon valign_middle">print</i>
                </span>
                </td>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="i==6">
              <td class="bottom-row">
                <span class="rotate-text">
                <i class="material-icons rotate_45 valign_middle">arrow_drop_down</i>#Discarded</span>
              </td>
              <td class="bottom-row">
                <span class="rotate-text">
                <i class="material-icons rotate_45 valign_middle">arrow_drop_down</i>Reason Code</span>
              </td>
            </ng-container>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredVariety | SearchVarieties: appSharedService.searchFieldValue; let i=index;" class="form-input-model"
          [hidden]="item.type !=='PLANTING'">
          <td>
            <div class="icon-box" (click)="appSharedService.openDialog(item)">
              <svg class="icon" [ngClass]="item.color_id">
                <use [attr.href]="item.url" />
              </svg>
            </div>
            <span>{{item.name}}
            <s class="secondary-text">{{ item.weekNumber ? ' Wk' + item.weekNumber : ''}}</s>
          </span>
          </td>
          <td class="td-md">
            <span>{{item.plugTray.seedLotNumber}}</span>
          </td>
          <td class="td-md">
            <span>{{item.plantingInfo.locatorNumber}}</span>
          </td>
          <td class="td-md">
            <span>{{item.plantingInfo.houseBay}}</span>
          </td>
          <td class="td-sm">
            <span>{{item.salableInfo.totalFlatsToSale}}</span>
          </td>
          <td class="td-xs" *ngFor="let routeObj of appSharedService.currentGreenHouseLocation.routes;let in = index;">
            <span>{{item.appStoreDelivery.routeNumberSale[in]['value']}}</span>
          </td>
          <td class="td-sm">
            <span>{{item.deliverdTotal}}</span>
          </td>
          <td class="td-sm">
            <span>{{item.appStoreDelivery.discarded}}</span>
          </td>
          <td class="td-sm">
            <span>{{item.appStoreDelivery.reasonCode}}</span>
          </td>
          <td class="td-sm">
            <span>{{item.plantingInfo.finishedTrays}}</span>
          </td>
          <td class="td-xs">
            <span>{{item.salableInfo.totalFlatsToSale - item.deliverdTotal}}</span>
          </td>
        </tr>
        <tr>
          <td>Total</td>
          <td class="td-lg"></td>
          <td class="td-sm"></td>
          <td class="td-md"></td>
          <td class="td-sm">{{totalCount}}</td>
          <td class="td-xs" *ngFor="let routeNumber of appSharedService.currentGreenHouseLocation.routes">{{routeTotalQuantites[routeNumber] || 0 }}</td>
          <td class="td-sm"> {{sumPlantsDelivered}}</td>
          <td class="td-sm"></td>
          <td class="td-sm"></td>
          <td class="td-sm"> {{totalBalanceCount}}</td>
          <td class="td-xs"></td>
        </tr>
        <tr>
          <td>
            <button mat-raised-button color="primary" (click)="exportExcel()">Export</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
