<div class="right-scroll">
  <!-- START: Master View -->
  <table class="table_six table-width">
    <thead>
      <tr>
        <td>
          <div class="toggle-button-css" *ngIf="mergeClickBool == false">
            <div>
              <mat-form-field class="full-width">
                <input matInput placeholder="Variety" [(ngModel)]="appSharedService.searchFieldValue">
              </mat-form-field>
            </div>
          </div>
          <div class="flex-display" [class.flex-center]="mergeClickBool">
            <div class="wk-select-box">
              <label for="startWeek">Start Wk#</label>
              <mat-select [(ngModel)]="startWeek" name="startWeek">
                <mat-option *ngFor="let wk of weekNumbers" [value]="wk">
                  {{wk}}
                </mat-option>
              </mat-select>
            </div>
            to
            <div class="wk-select-box">
              <label for="startWeek">End Wk#</label>
              <mat-select [(ngModel)]="endWeek" name="stopWeek">
                <mat-option *ngFor="let wk of weekNumbers" [value]="wk">
                  {{wk}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="select-plant-text" *ngIf="mergeClickBool == true">Select a plant to merge</div>
          <div class="toggle-button-css" *ngIf="mergeClickBool == false">
            <mat-button-toggle value="left">
              Type
              <i class="material-icons">arrow_drop_down</i>
            </mat-button-toggle>
            <mat-button-toggle value="center" (click)="appSharedService.varietiesSort()">
              A-Z
              <i class="material-icons">arrow_drop_down</i>
            </mat-button-toggle>
            <mat-button-toggle value="right" (click)="appSharedService.weekSort()">
              Wk#
              <i class="material-icons">arrow_drop_down</i>
            </mat-button-toggle>
          </div>
        </td>
        <ng-container *ngFor="let head of heads6;let i=index">
          <td [ngClass]="{'merge-cell-style':i==4 || i==6}" *ngIf="!(i==4 || i==6)">
            <span [ngClass]="{'store-left':i==0}">
              <i class="material-icons rotate_45 valign_middle">arrow_drop_down</i>{{head}}</span>
          </td>
          <ng-container *ngIf="i==4">
            <ng-container *ngFor="let trow of head">
              <td class="bottom-row">
                <span class="rotate-text">
                  <i class="material-icons rotate_45 valign_middle">arrow_drop_down</i>Route {{trow}}
                  <i class="material-icons rotate_45 print-icon valign_middle">print</i>
                </span>
              </td>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="i==6">
            <td class="bottom-row">
              <span class="rotate-text">
                <i class="material-icons rotate_45 valign_middle">arrow_drop_down</i>#Discarded</span>
            </td>
            <td class="bottom-row">
              <span class="rotate-text">
                <i class="material-icons rotate_45 valign_middle">arrow_drop_down</i>Reason Code</span>
            </td>
          </ng-container>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of appSharedService.varietyOptions" class="form-input-model">
        <td>
          <div class="icon-box" (click)="appSharedService.openDialog(item)">
            <svg class="icon" [ngClass]="item.color_id">
              <use [attr.href]="item.url" />
            </svg>
          </div>
          <span>{{item.name}}<s class="secondary-text">{{ item.weekNumber ? '  Wk' + item.weekNumber : ''}}</s></span>
        </td>
        <td class="store-delivery-table-margin">
          <input matInput name="lot_no" [(ngModel)]="item.plugTray.seedLotNumber" disabled>
        </td>
        <td>
            <input matInput name="rl_no" [(ngModel)]="item.plantingInfo.locatorNumber" disabled>
        </td>
        <td>
            <input matInput name="b_no" [(ngModel)]="item.plantingInfo.houseBay" disabled>
        </td>
        <td>
            <span>{{item.plantingInfo.finishedTrays - item.salableInfo.discarded || 0}}</span>
        </td>
        <td *ngFor="let route of heads6[4];let in = index;">
            <input matInput name="sixtyeight" (blur)="updateRouteTotal(in)">
        </td>
        <td>
            <span>{{item.plantingInfo.finishedTrays - item.salableInfo.discarded || 0}}</span>
        </td>
        <td>
          <input matInput name="discarded" [(ngModel)]="item.appStoreDelivery.discarded" disabled>
        </td>
        <td>
            <input matInput name="reasoncode" [(ngModel)]="item.appStoreDelivery.reasonCode" disabled>
        </td>
        <td>
            <input matInput name="totalBalance" [(ngModel)]="item.plantingInfo.finishedTrays" disabled>
        </td>
        <td>
          <mat-checkbox class="example-margin"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{totalFlatsToSale}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>
          <button mat-raised-button color="primary">Export</button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- END: Master View-->

</div>