<div class="right-scroll">
  <!-- START: Master View -->
  <table class="table_six table-width">
    <thead>
      <tr>
        <td>
          <div class="toggle-button-css" *ngIf="mergeClickBool == false">
            <div>
              <mat-form-field class="full-width">
                <input matInput placeholder="Variety" [(ngModel)]="appSharedService.searchFieldValue">
              </mat-form-field>
            </div>
          </div>
          <div class="flex-display" [class.flex-center]="mergeClickBool">
            <div class="wk-select-box">
              <label for="startWeek">Start Wk#</label>
              <mat-select [(ngModel)]="startWeek" name="startWeek">
                <mat-option *ngFor="let wk of weekNumbers" [value]="wk">
                  {{wk}}
                </mat-option>
              </mat-select>
            </div>
            to
            <div class="wk-select-box">
              <label for="startWeek">End Wk#</label>
              <mat-select [(ngModel)]="endWeek" name="stopWeek">
                <mat-option *ngFor="let wk of weekNumbers" [value]="wk">
                  {{wk}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="select-plant-text" *ngIf="mergeClickBool == true">Select a plant to merge</div>
          <div class="toggle-button-css" *ngIf="mergeClickBool == false">
            <mat-button-toggle value="left">
              Type
              <i class="material-icons">arrow_drop_down</i>
            </mat-button-toggle>
            <mat-button-toggle value="center" (click)="appSharedService.varietiesSort()">
              A-Z
              <i class="material-icons">arrow_drop_down</i>
            </mat-button-toggle>
            <mat-button-toggle value="right" (click)="appSharedService.weekSort()">
              Wk#
              <i class="material-icons">arrow_drop_down</i>
            </mat-button-toggle>
          </div>
        </td>
        <ng-container *ngFor="let head of heads6;let i=index">
          <td [ngClass]="{'merge-cell-style':i==4 || i==6}" *ngIf="!(i==4 || i==6)">
            <span [ngClass]="{'store-left':i==0}">
              <i class="material-icons rotate_45 valign_middle">arrow_drop_down</i>{{head}}</span>
          </td>
          <ng-container *ngIf="i==4">
            <ng-container *ngFor="let trow of head">
              <td class="bottom-row">
                <span class="rotate-text">
                  <i class="material-icons rotate_45 valign_middle">arrow_drop_down</i>Route {{trow}}
                  <i class="material-icons rotate_45 print-icon valign_middle">print</i>
                </span>
              </td>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="i==6">
            <td class="bottom-row">
              <span class="rotate-text">
                <i class="material-icons rotate_45 valign_middle">arrow_drop_down</i>#Discarded</span>
            </td>
            <td class="bottom-row">
              <span class="rotate-text">
                <i class="material-icons rotate_45 valign_middle">arrow_drop_down</i>Reason Code</span>
            </td>
          </ng-container>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of appSharedService.varietyOptions" class="form-input-model">
        <td>
            <div class="icon-box" (click)="appSharedService.openDialog(item)">
                <svg class="icon" [ngClass]="item.color_id">
                <use [attr.href]="item.url" />
                </svg>
                </div>
                <span>{{item.name}}<s class="secondary-text">{{ item.weekNumber ? '  Wk' + item.weekNumber : ''}}</s></span>
        </td>
        <td class="store-delivery-table-margin">
          <input matInput name="lot_no" [(ngModel)]="item.lot_no">
        </td>
        <td>
          <input matInput name="rl_no" [(ngModel)]="item.rl_no">
        </td>
        <td>
          <input matInput name="b_no" [(ngModel)]="item.b_no">
        </td>
        <td>
          <span>{{item.q - item.ts_d}}</span>
        </td>
        <td>
          <input matInput name="sixtyeight" [(ngModel)]="item.sixtyeight">
        </td>
        <td>
          <input matInput name="sixtyeight_one" [(ngModel)]="item.sixtyeight_one">
        </td>
        <td>
          <input matInput name="sixtyeight_two" [(ngModel)]="item.sixtyeight_two">
        </td>
        <td>
          <input matInput name="sixtyeight_three" [(ngModel)]="item.sixtyeight_three">
        </td>
        <td>
          <input matInput name="sixtyeight_four" [(ngModel)]="item.sixtyeight_four">
        </td>
        <td>
          <input matInput name="sixtyeight_five" [(ngModel)]="item.sixtyeight_five">
        </td>
        <td>
          <input matInput name="sixtyeight_six" [(ngModel)]="item.sixtyeight_six">
        </td>
        <td>
          <input matInput name="sixtyeight_seven" [(ngModel)]="item.sixtyeight_seven">
        </td>
        <td>
          <input matInput name="sixtyeight_eight" [(ngModel)]="item.sixtyeight_eight">
        </td>
        <td>
          <input matInput name="sixtyeight_nine" [(ngModel)]="item.sixtyeight_nine">
        </td>
        <td>
          <input matInput name="sixtyeight_ten" [(ngModel)]="item.sixtyeight_ten">
        </td>
        <td>
          <input matInput name="sixtyeight_eleven" [(ngModel)]="item.sixtyeight_eleven">
        </td>
        <td>
          <input matInput name="sixtyeight_twelve" [(ngModel)]="item.sixtyeight_twelve">
        </td>
        <td>
          <input matInput name="sixtyeight_thirteen" [(ngModel)]="item.sixtyeight_thirteen">
        </td>
        <td>
          <input matInput name="sixtyeight_fourteen" [(ngModel)]="item.sixtyeight_fourteen">
        </td>
        <td>
          <input matInput name="sixtyeight_fifteen" [(ngModel)]="item.sixtyeight_fifteen">
        </td>
        <td>
          <span>{{item.q - item.ts_d}}</span>
        </td>
        <td>
          <input matInput name="discarded" [(ngModel)]="item.discarded">
        </td>
        <td>
          <mat-select placeholder="" #select="matSelect">
            <mat-select-trigger>{{select.selected?.viewValue.split(' (')[0]}}</mat-select-trigger>
            <mat-option *ngFor="let rc of reasonCodes" [value]="rc.code">{{ rc.code }} ({{rc.reason}})</mat-option>
          </mat-select>
        </td>
        <td>
          <span>{{item.q - item.ts_d - item.discarded}}</span>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{totalFlatsToSale}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>
          <button mat-raised-button color="primary">Export</button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- END: Master View-->

</div>