$purple: #4339AD;

.left-panel,
.right-content {
    width: 250px;
    height: 100rem;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    box-shadow: 3px 0px 5px #CCC;
    background-color: #e5e5e5;
    .pg-title {
        font-weight: 300;
    }

    .top-section {
        float: left;
        width: 100%;
        color: #FFF;
        background-color: #3949ab;
        padding: 0 20px 20px;
        box-sizing: border-box;
    }

    .menu-item {
        font-size: 12px;
        font-weight: 600;
    }
    .sec1-select {
        // margin: 11px 0;
    } // .grey-bg {
    //   background:#FFF;
    //   font-weight: bold;
    // }
    mat-list {
        background-color: #FFF;
    }
}



/** CSS OVERRIDES WITH CLLASS HELP **/

.toggle-button-css {
    mat-button-toggle-group {
        &.mat-button-toggle-group {
            box-shadow: none;
        }
    }
}


.form-input-model {
    .mat-form-field {
        width: auto;
    }
    .mat-form-field-infix {
        border: 0;
    }
    .mat-form-field-underline {
        bottom: 2px;
    }
    .mat-form-field-wrapper {
        padding-bottom: 0;
    }
    td {
        input {
            text-align: center;
        }
        
    }
    .select-field{
      width:120px !important;
    }

}

// =============================================//
.right-scroll {
    //position: fixed;
    z-index: 0;
    top: 0; //width: 100%;
    height: 100vh;
    padding-left: 250px;
    overflow: auto;
    background: #EEE;
    font-size: 12px;
    /*.merge-box {
        position: fixed !important;
        z-index: 9 !important;
        margin-left: -307px;
    }*/
    table {
        border-collapse: collapse;
        td {
            border: 1px solid #CCC;
            text-align: center;
            padding: 5px;
        }
        thead {
            //position: absolute;
            //margin-left: 307px;
            td {
                height: 148px;
                width: 64px;
                background: #FFF;
                position: relative;
                padding: 5px 27px 5px 28px;
                &:first-child {
                    vertical-align: bottom;
                    width: 250px;
                    background-color: #F5F5F5;
                }
                &:not(:first-child) {
                    box-shadow: 0 2px 1px #CCC;
                }
                span {
                    //display: block;
                    //-webkit-transform: rotate(270deg);
                    //position: absolute;
                    //-webkit-transform: translate(-25%, -12px) rotate(270deg);
                    //transform: translate(-33%, -40px) rotate(270deg);
                    //width: 180px;
                    //text-align: left;
                    display: block;
                    -webkit-transform: rotate(270deg);
                    position: absolute;
                    -webkit-transform: translate(-25%, -12px) rotate(270deg);
                    left: 50%;
                    transform: translate(-50%, -115%) rotate(270deg);
                    width: 180px;
                    text-align: left;
                }
            }
        }
        tbody {
        /*tr {
                &:first-child {
                    height: 158px;
                }
            }*/
            td {
                padding: 5px;
                &:first-child {
                    text-align: left;
                    padding: 5px 10px 5px 45px;
                    background-color: #FFF;
                    width: 250px;
                    position:relative
                }

                mat-select {
                    padding-top:0;
                }

                [mat-raised-button] {
                    font-size: 12px;
                    line-height: 25px;
                }

                
            }
        }
        &.table_two {
            thead {
                td {
                    &:nth-child(2),
                    &:nth-child(3) {
                        background-color: #E5E5E5;
                    }
                }
            }
            tbody {
                td {
                    &:nth-child(2),
                    &:nth-child(3) {
                        background-color: #E5E5E5;
                        pointer-events: none;
                    }
                }
            }
        }
        &.table_three {
            thead {
                td {
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4) {
                        background-color: #E5E5E5;
                    }
                }
            }
            tbody {
                td {
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4) {
                        background-color: #E5E5E5;
                        pointer-events: none;
                    }
                }
            }
        }
        &.table_four {
            thead {
                td {
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4),
                    &:nth-child(5),
                    &:nth-child(11) {
                        background-color: #E5E5E5;
                    }
                }
            }
            tbody {
                td {
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4),
                    &:nth-child(5),
                    &:nth-child(11) {
                        background-color: #E5E5E5;
                        pointer-events: none;
                    }
                }
            }
        }
        &.table_five {
            thead {
                td {
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4),
                    &:nth-child(5) {
                        background-color: #E5E5E5;
                    }
                    &:nth-child(8) {
                        background-color: #D6D4F0;
                    }
                }
            }
            tbody {
                td {
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4),
                    &:nth-child(5) {
                        background-color: #E5E5E5;
                        pointer-events: none;
                    }
                    &:nth-child(8) {
                        background-color: #D6D4F0;
                        pointer-events: none;
                    }
                }
            }
        }
        &.table_six {
            thead {
                td {
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4) {
                        background-color: #E5E5E5;
                    }
                    &:nth-child(5),
                    &:nth-child(22) {
                        background-color: #D6D4F0;
                    }
                }
            }
            tbody {
                td {
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4),
                    &:nth-child(5),
                    &:nth-child(22) {
                        background-color: #E5E5E5;
                        pointer-events: none;
                    }
                    &:nth-child(5),
                    &:nth-child(22) {
                        background-color: #D6D4F0;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}

.display-no{
  display:none;
}
.color-grey {
    color: rgba(0, 0, 0, .38);
}

.toggle-button-css {
    mat-button-toggle-group {
        //display: flex;
        //justify-content: space-between;
    }
}

.inline-blk {
    display: inline-block;
}

.setting-icon {
    margin-left: 50px;
    cursor: pointer;
}

.setting-menu-item {
    font-size: 12px;
}

.logged-in-user {
    height: 50px;
    line-height: 15px;
    background-color: #e5e5e5;
    margin-top: -8px;
    cursor: default;
}

.select-plant-text {
    color: blue;
    padding: 15px 0px 5px 0px;
    text-align: left;
}

.mat-option {
    font-size: 12px;
}

.add-plant {
    button {
        min-width: 0;
        width: 60px;
        padding: 7px;
    }

    mat-form-field {
        flex: 1 1 0;
        padding-right: 20px;
        box-sizing: border-box;
    }
}

mat-select-trigger {
    font-size: 12px;
}

.add-neg-received {
    width: 300px;
    button {
        margin-left: -250px;
    }
}

.add-neg-ship {
    width: 400px;
    button {
        //margin-left: -250px;
    }
}

table td span i {
    color: rgba(0, 0, 0, .38);
}

.table-width {
    width: 100%;
    td {
        min-width: 91px;
    }
}
.mat-select-arrow{
  color:red;
}
.disabled-row{
  background-color: #E5E5E5;
  input:disabled{
    color:#232323;
    //cursor:
  }
}

.disabled-column{
  background-color: #E5E5E5;
  input:disabled{
    color:#232323;
    //cursor:
  }
}

.sub-table-cont{
  transform: translate(0%, 0%) !important;
  position:relative !important;
  left:0px !important;
  width:100% !important;
  table{
  width:100%;
  }
  td{
    width:128px;
    background-color:#fff !important;
    &:first-child{
      padding: 0 !important;
      width: 100px !important;
      text-align: center !important;
      vertical-align: middle !important;
    }
  }
  .rotate-text{
    transform: translate(-50%, -115%) rotate(270deg);
    width: 175px !important;
    bottom: 54px !important;
  }
  .top-row{
    height:30px !important;
  }
  .bottom-row{
    height:115px !important;
  }
  .select-title{
    width:120px !important;
  }
}
.merge-cell-style{
  padding:0 !important;
}
.print-icon{
  font-size:18px !important;
  padding-bottom: 5px;
}
.icon-box{
  cursor:pointer;
}