<div class="right-scroll">

  <!-- START: Planting Information -->
  <table class="table_two table-width">
    <thead>
      <tr>
        <td>
          <div class="toggle-button-css" *ngIf="mergeClickBool == false">
            <div>
              <md-form-field class="full-width">
                <input mdInput placeholder="Variety" [(ngModel)]="appSharedService.searchFieldValue">
              </md-form-field>
            </div>
          </div>
          <div class="flex-display" [class.flex-center]="mergeClickBool">
            <button md-button *ngIf="mergeClickBool == false" (click)="mergeClick($event, 'start_merge')"><i class="material-icons rotate_90">merge_type</i> MERGE</button>
            <button md-button *ngIf="mergeClickBool == false"><i class="material-icons rotate_90">call_split</i> SPLIT</button>
            <button md-button *ngIf="mergeClickBool == true" (click)="mergeClick($event, 'cancel_merge')"><i class="material-icons rotate_90">merge_type</i> CANCEL MERGE</button>
          </div>
          <div class="select-plant-text" *ngIf="mergeClickBool == true">Select a plant to merge</div>
          <div class="toggle-button-css" *ngIf="mergeClickBool == false">
            <md-button-toggle-group #group="mdButtonToggleGroup">
              <md-button-toggle value="left">
                Type <i class="material-icons">arrow_drop_down</i>
              </md-button-toggle>
              <md-button-toggle value="center" (click)="appSharedService.varietiesSort()">
                A-Z <i class="material-icons">arrow_drop_down</i>
              </md-button-toggle>
              <md-button-toggle value="right" (click)="appSharedService.weekSort()">
                Wk# <i class="material-icons">arrow_drop_down</i>
              </md-button-toggle>
            </md-button-toggle-group>
          </div>
        </td>
        <td *ngFor="let head of heads2">
          <span><i class="material-icons rotate_90 valign_middle">arrow_drop_down</i>{{head}}</span>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of appSharedService.varietyOptions | SearchVarieties: appSharedService.searchFieldValue" class="form-input-model">
        <td>
          <div [innerHTML]="item['nameHtml']" class="icon-box" (click)="appSharedService.openDialog(item)"></div>
          <span>{{item.name}}</span>
        </td>
        <td>
          <input mdInput name="seedLotNumber" [(ngModel)]="item.plugTray.seedLotNumber">
        </td>
        <td>
          <input mdInput name="plugFlatsPlotted" [(ngModel)]="item.plugTray.plugFlatsPlotted">
        </td>
        <td>
          <input mdInput type="number" name="finishedTrays" [(ngModel)]="item.plantingInfo.finishedTrays" (blur)="updatePlugToDeliverData(item)">
        </td>
        <td>
          <input mdInput type="text" name="locatorNumber" [(ngModel)]="item.plantingInfo.locatorNumber" (blur)="updatePlugToDeliverData(item)">
        </td>
        <td>
          <!-- <input mdInput name="pottedDate" [(ngModel)]="item.plantingInfo.pottedDate"> -->
          <md-form-field [formGroup]="plantingInfoForm">
            <input mdInput [mdDatepicker]="picker" (click)="picker.open()" (focus)="picker.open()" [(ngModel)]="item.plantingInfo.pottedDate"
              (dateChange)="updatePlugToDeliverData(item)" formControlName="datePotted">
            <!-- <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle> -->
            <md-datepicker #picker></md-datepicker>
          </md-form-field>
        </td>
        <td>
          <input mdInput type="number" name="houseBay" [(ngModel)]="item.plantingInfo.houseBay" (blur)="updatePlugToDeliverData(item)">
        </td>
      </tr>
    </tbody>
  </table>
  <!-- END: Planting Information -->

</div>
