<div class="dialog-main-cont">
    <h2>Manage Users</h2>
    <div class="user-table-cont head-title">
        <div class="user-col">USER</div>
        <div class="user-col">USER EMAIL</div>
        <div class="user-col">GREENHOUSE ASSIGNMENT</div>
        <div class="user-col-del"></div>
    </div>
    <div class="user-table-cont">
        <div class="user-col">John Doe</div>
        <div class="user-col">John.doe@scotts.com</div>
        <div class="user-col">
            <md-select [(ngModel)]="locationId" name="location" class="loc-input">
                <md-option *ngFor="let location of commonData.locations" [value]="location">
                    {{location.city}}, {{location.state}}
                </md-option>
            </md-select>
        </div>
        <div class="user-col-del">
            <div><i class="material-icons valign_middle">delete</i></div>
        </div>
    </div>
    <div class="user-table-cont" *ngIf="showEditBox">
        <div class="user-col">
            <md-form-field class="example-full-width">
                <input mdInput> 
           </md-form-field>
        </div>
        <div class="user-col">
        	<md-form-field class="example-full-width">
                <input mdInput> 
           </md-form-field>
        </div>
        <div class="user-col">
            <md-select [(ngModel)]="locationId" name="location" class="loc-input">
                <md-option *ngFor="let location of commonData.locations" [value]="location">
                    {{location.city}}, {{location.state}}
                </md-option>
            </md-select>
        </div>
        <div class="user-col-del">
            <!-- <div><i class="material-icons valign_middle">delete</i></div> -->
        </div>
    </div>
    <div class="add-user" (click)="addUser(true)" *ngIf="!showEditBox"><i class="material-icons valign_middle">add_circle</i> New User</div>
    <!-- <div class="add-user" (click)="addUser(false)" *ngIf="showEditBox">Cancel</div> -->
</div>