<div class="dialog-main-cont">
    <h2>Manage Plug Catalog</h2>
    <div class="user-table-cont head-title">
        <div class="user-col">VARIETY</div>
        <div class="user-col">ORGANIC</div>
        <div class="user-col-del"></div>
    </div>
    <div class="user-table-cont" *ngFor="let cp of currentPlugs;let i = index;">
        <div class="user-col">{{cp.name}}</div>
        <div class="user-col">
            <md-checkbox [(ngModel)]="cp.organic"></md-checkbox>
        </div>
        <div class="user-col-del">
            <div (click)="deleteUser(i)"><i class="material-icons valign_middle">delete</i></div>
        </div>
    </div>
    <div class="user-table-cont" *ngIf="showEditBox">
        <div class="user-col">
            <md-select [(ngModel)]="newPlug" name="location" class="loc-input">
                <md-option *ngFor="let location of appSharedService.locations" [value]="location">
                    {{location.city}}, {{location.state}}
                </md-option>
            </md-select>
        </div>
        <div class="user-col">
            <md-checkbox [(ngModel)]="newPlug.organic"></md-checkbox>
        </div>
        <div class="user-col-del">
            <!-- <div><i class="material-icons valign_middle">delete</i></div> -->
        </div>
    </div>
    <div class="add-user" (click)="addUser(true)" *ngIf="!showEditBox"><i class="material-icons valign_middle">add_circle</i> New Greenhouse</div>
    <!-- <div class="add-user" (click)="addUser(false)" *ngIf="showEditBox">Cancel</div> -->

    <div class="btn-cont">
            <button md-button (click)="closeDialog()">CLOSE</button>
            <button md-raised-button color="primary" (click)="saveUser()">SAVE</button>
    </div>
</div>