<div class="right-scroll">

    <!-- START: Receiving -->
  <table *ngIf="active == 3" class="table_three table-width">
    <thead>
    <tr>
      <td>
        <div class="toggle-button-css" *ngIf="mergeClickBool == false"> 
          <div>
            <md-form-field class="full-width">
              <input mdInput placeholder="Plant">
            </md-form-field>
          </div>
        </div>
        <div class="flex-display" [class.flex-center]="mergeClickBool">
          <button md-button *ngIf="mergeClickBool == false" (click)="mergeClick($event, 'start_merge')"><i class="material-icons rotate_90">merge_type</i> MERGE</button>
          <button md-button *ngIf="mergeClickBool == false"><i class="material-icons rotate_90">call_split</i> SPLIT</button>
          <button md-button *ngIf="mergeClickBool == true" (click)="mergeClick($event, 'cancel_merge')"><i class="material-icons rotate_90">merge_type</i> CANCEL MERGE</button>
        </div>
        <div class="select-plant-text" *ngIf="mergeClickBool == true">Select a plant to merge</div>
        <div class="toggle-button-css" *ngIf="mergeClickBool == false">
          <md-button-toggle-group #group="mdButtonToggleGroup">
            <md-button-toggle value="left">
              Type <i class="material-icons">arrow_drop_down</i>
            </md-button-toggle>
            <md-button-toggle value="center" (click)="sort()">
              A-Z <i class="material-icons">arrow_drop_down</i>
            </md-button-toggle>
            <md-button-toggle value="right">
              Wk# <i class="material-icons">arrow_drop_down</i>
            </md-button-toggle>
          </md-button-toggle-group>
        </div>
      </td>
      <td *ngFor="let head of heads3;let i=index" [ngClass]="{'display-no':i>4,'merge-cell-style':i==4}" [colSpan]="i==4?4:1">
        <span [ngClass]="{'store-left':i==0}" *ngIf="i<4"><i class="material-icons rotate_90 valign_middle">arrow_drop_down</i>{{head}}</span>
        <span *ngIf="i==4" class="sub-table-cont">
          <table>
            <tr>
              <td colspan="4" class="top-row">Received from other station</td>
            </tr>
            <tr>
              <td class="bottom-row"><span class="rotate-text"><i class="material-icons rotate_90 valign_middle">arrow_drop_down</i>Quantity</span></td>
              <td class="bottom-row"><span class="rotate-text"><i class="material-icons rotate_90 valign_middle">arrow_drop_down</i>Locator#</span></td>
              <td class="bottom-row"><span class="rotate-text"><i class="material-icons rotate_90 valign_middle">arrow_drop_down</i>#Discarded</span></td>
              <td class="bottom-row select-title"><span class="rotate-text"><i class="material-icons rotate_90 valign_middle">arrow_drop_down</i>Reason Code</span></td>
            </tr>
          </table>
        </span>
      </td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of commonData.plantData" class="form-input-model" [ngClass]="{'disabled-row':!item.received}">
      <td>
        <div [innerHTML]="item['nameHtml']" (click)="openDialog(item)" class="icon-box"></div>
        <span>{{item.name}}</span>
      </td>
      <td>
        <input mdInput name="lot_no" [(ngModel)]="item.plugTray.seedLotNumber" [disabled]="!item.received">
      </td>
      <td>
        <input mdInput name="ft" [(ngModel)]="item.plantingInfo.finishedTrays" [disabled]="!item.received">
      </td>
      <td>
        <input mdInput name="l_no" [(ngModel)]="item.plantingInfo.locatorNumber" [disabled]="!item.received">
      </td>
      <td>
        <input mdInput name="b_no" [(ngModel)]="item.receivingData.houseBay" [disabled]="!item.received">
      </td>
      
      <td>
        <input mdInput name="q" [(ngModel)]="item.receivingData.quantity" [disabled]="!item.received">
      </td>
      <td>
        <input mdInput name="rl_no" [(ngModel)]="item.receivingData.locator" [disabled]="!item.received">
      </td>
      <td>
        <input mdInput name="r_d" [(ngModel)]="item.receivingData.discarded" [disabled]="!item.received">
      </td>
      <td class="select-field">
        <md-select placeholder="" #select="mdSelect" [(ngModel)]="item.receivingData.reasonCode">
          <md-select-trigger>{{select.selected?.viewValue.split(' (')[0]}}</md-select-trigger>
          <md-option *ngFor="let rc of reasonCodes" [value]="rc.code" [disabled]="!item.received">{{ rc.code }} ({{rc.reason}})</md-option>
        </md-select>
      </td>
      <td>
        <button md-raised-button color="primary" *ngIf="!item.received" (click)="receivePlant(item)">Received</button>
      </td>
    </tr>
    </tbody>
  </table>
  <!-- END: Receiving -->


</div>