$purple: #4339AD;

.left-panel{
    width: 250px;
    height: 100rem;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    box-shadow: 3px 0px 5px #CCC;
    background-color: #e5e5e5;
    .pg-title {
        font-weight: 300;
    }

    .top-section {
        float: left;
        width: 100%;
        color: #FFF;
        background-color: #3949ab;
        padding: 0 20px 20px;
        box-sizing: border-box;
    }

    .menu-item {
        font-size: 12px;
        font-weight: 600;
    }
    .sec1-select {
        margin: 11px 0;
    } // .grey-bg {
    //   background:#FFF;
    //   font-weight: bold;
    // }
    md-list {
        background-color: #FFF;
    }

    .notif-number {
        display:none;
        background-color: #423aad;
        color:#fff;
        width: 40px;
        padding: 10px 3px;
        border-radius: 50%;
        text-align: center;
        font-size: 12px;
        i{  
            font-size: 16px;
        }
    }
    .active .notif-number{
        display:inline-block;
    }
}



// =============================================//

.inline-blk {
    display: inline-block;
}

.setting-icon {
    margin-left: 50px;
    cursor: pointer;
}

.setting-menu-item {
    font-size: 12px;
}

.logged-in-user {
    height: 50px;
    line-height: 15px;
    background-color: #e5e5e5;
    margin-top: -8px;
    cursor: default;
}

.sec1-select {
      margin: 11px 0;

}
