<div *ngIf="loading">Loading...</div>
<div class="left-panel" *ngIf="!loading">
  <div class="top-section">
    <div>
      <h4 class="pg-title inline-blk">Bonnie Audit Trail</h4>


      <span mat-button [matMenuTriggerFor]="menu" class="setting-icon"><i class="material-icons valign_middle">settings</i></span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="setting-menu-item logged-in-user"><div>Logged In as <br>(..@scotts.com)</div></button>
        <!-- <button mat-menu-item class="setting-menu-item" (click)="openManageUserDialog()">Manage Users</button> -->
        <button mat-menu-item class="setting-menu-item" (click)="openManageGreenHouseDialog()">Manage Greenhouse/Stations</button>
        <button mat-menu-item class="setting-menu-item" (click)="openManageRoutesDialog()">Manage Routes</button>
        <button mat-menu-item class="setting-menu-item" (click)="openManagePlugCatalogDialog()">Manage Plug Catalog</button>
        <button mat-menu-item class="setting-menu-item" (click)="loginService.logout()">Logout</button>
      </mat-menu>
    </div>
    <mat-form-field>
      <mat-select placeholder="Location" [(ngModel)]="appSharedService.currentGreenHouseLocation" (change)="locationChange(appSharedService.currentGreenHouseLocation)"
        name="location" class="input-white sec1-select">
        <mat-option *ngFor="let location of appSharedService.locations" [value]="location">
          {{location.city}}, {{location.state}}
        </mat-option>
      </mat-select>

    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Year" [(ngModel)]="appSharedService.selectedYear" (change)="yearChange(appSharedService.selectedYear)"
        name="year" class="input-white sec1-select">
        <mat-option *ngFor="let year of years" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-list>
    <mat-list-item [ngClass]="{'active': router.url === '/app-organic-tracker-sheet/app-plug-tray-information' }" [routerLink]="['/app-organic-tracker-sheet/app-plug-tray-information']">
      Plug tray information
      <div class="notif-number" (click)="moveToNextStage('PLANTING')">
        <i class="material-icons valign_middle">arrow_downward</i> {{appSharedService.totalNotif}}
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item [ngClass]="{'active': router.url === '/app-organic-tracker-sheet/app-planting-information' }" [routerLink]="['/app-organic-tracker-sheet/app-planting-information']">
      Planting information
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item [ngClass]="{'active': router.url === '/app-organic-tracker-sheet/app-receiving-from-other-stations' }" [routerLink]="['/app-organic-tracker-sheet/app-receiving-from-other-stations']">
      Receiving
      <div class="notif-number">
        <i class="material-icons valign_middle">arrow_downward</i> {{ appSharedService.receivedVarietiesCountWithReceivedButton
        }}
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item [ngClass]="{'active': router.url === '/app-organic-tracker-sheet/app-ship-to-other-stations' }" [routerLink]="['/app-organic-tracker-sheet/app-ship-to-other-stations']">
      Ship to
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item [ngClass]="{'active': router.url === '/app-organic-tracker-sheet/app-total-salable' }" [routerLink]="['/app-organic-tracker-sheet/app-total-salable']">
      Total salable
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item [ngClass]="{'active': router.url === '/app-organic-tracker-sheet/app-store-delivery' }" [routerLink]="['/app-organic-tracker-sheet/app-store-delivery']">
      To store delivery/balance
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item [ngClass]="{'active': router.url === '/app-organic-tracker-sheet/app-master-view' }" [routerLink]="['/app-organic-tracker-sheet/app-master-view']">
      Master view
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>

<router-outlet></router-outlet>
