.dialog-main-cont {
    height: 600px;
    width: 956px;
    padding: 10px;
    h2 {
        font-size: 16px;
        font-weight: 500;
    }
    .user-table-cont {
        font-size: 11px;
        padding: 3px;
        border-bottom: 1px solid #ddd;
        .user-col {
            width: 30%;
            display: inline-block;
        }
        .user-col-del {
            width: 4%;
            display: inline-block;
            text-align: right;
            cursor: pointer;
        }
        .user-col-email {
            width: 23%;
            display: inline-block;
        }
        .nameCol {
            width:15%;
        }
        .stateCol {
            width:8%;
        }
        .cityCol {
            width: 15%;
        }
        .lcNumCol {
            width: 10%;
        }
        .routesCol{
            width: 7%;
        }
    }
    .head-title {
        padding: 6px 3px;
        border-bottom: 0px;
        div {
            font-weight: 600;
            color: #666;
        }
    }
    .add-user {
        cursor: pointer;
        font-size: 12px;
        padding: 8px;
    }
    .mat-form-field {
        width: 80%;
    }
    .btn-cont {
        margin-top:30px;
        padding-left:60%;
        button {
        margin:5px;
        }
    }
}