<h2 mat-dialog-title>Manage Greenhouses</h2>
<mat-dialog-content>
  <div class="dialog-main-cont">
    <div class="close-right">
      <div class="user-col-close save-btn" title="CLOSE">
        <button mat-icon-button mat-dialog-close>
          <i class="material-icons valign_middle">close</i>
        </button>
      </div>
    </div>
    <form #formCtrl="ngForm">
      <table>
        <thead>
          <tr>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>EMAIL</th>
            <th>CITY</th>
            <th>STATE</th>
            <th>LOCATOR#</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let gh of greenHouses;let i = index;">
            <ng-container *ngIf="!ghEditList[i]">
              <td>{{gh.first_name}}</td>
              <td>{{gh.last_name}}</td>
              <td>{{gh.email}}</td>
              <td>{{gh.city}}</td>
              <td>{{gh.state}}</td>
              <td>{{gh.locatorNumber}}</td>
              <td>
                <button mat-icon-button color="primary" (click)="editableRow(i,gh)">
                  <i color="primary" class="material-icons md-18 valign_middle">edit</i>
                </button>
              </td>
              <td>
                <button mat-icon-button color="primary" (click)="deleteGreenHouse(i)">
                  <i color="primary" class="material-icons md-18 valign_middle">delete</i>
                </button>
              </td>
            </ng-container>
            <ng-container *ngIf="ghEditList[i]">
              <td>
                <mat-form-field class="full-width">
                  <input matInput [(ngModel)]="gh.first_name" name="first_name" required>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="full-width">
                  <input matInput [(ngModel)]="gh.last_name" name="last_name" required>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="full-width">
                  <input matInput [(ngModel)]="gh.email" name="email" required>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="full-width">
                  <input matInput [(ngModel)]="gh.city" name="city" required>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="full-width">
                  <input matInput [(ngModel)]="gh.state" name="state" required>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="full-width">
                  <input matInput [(ngModel)]="gh.locatorNumber" type="number" min="0" name="locatorNumber" required>
                </mat-form-field>
              </td>
              <td title="{{formCtrl.form.valid?'SAVE':''}}">
                <button mat-icon-button color="primary" (click)="saveGreenHouse(formCtrl,gh)" [disabled]="!formCtrl.form.valid">
                  <i color="primary" class="material-icons md-18 valign_middle" [ngClass]="{'blue-icon':formCtrl.form.valid}">save</i>
                </button>
              </td>
              <td>
                <button mat-icon-button color="primary" (click)="deleteGreenHouse(i)">
                  <i color="primary" class="material-icons md-18 valign_middle blue-icon">delete</i>
                </button>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
      <br>
      <button mat-raised-button color="primary" (click)="addGreenHouse(true)" *ngIf="!showEditBox">
        <i class="material-icons valign_middle">add</i> New Greenhouse</button>

      <!-- <div class="btn-cont">
                <button mat-button (click)="closeDialog()">CLOSE</button>
            </div> -->
    </form>
  </div>
</mat-dialog-content>