<div class="dialog-main-cont">

    <div class="close-right">
        <div class="user-col-close save-btn" title="CLOSE">
            <div (click)="closeDialog()">
                <i class="material-icons valign_middle">close</i>
            </div>
        </div>
    </div>
    <form #formCtrl="ngForm">
        <h2>Manage Greenhouses</h2>
        <div class="user-table-cont head-title">
            <div class="user-col nameCol">FIRST NAME</div>
            <div class="user-col nameCol">LAST NAME</div>
            <div class="user-col-email">USER EMAIL</div>
            <div class="user-col cityCol">CITY</div>
            <div class="user-col stateCol">STATE</div>
            <div class="user-col lcNumCol">LOCATOR NUMBER</div>
            <div class="user-col-edit"></div>
            <div class="user-col-del"></div>
        </div>

        <div class="user-table-cont" *ngFor="let gh of greenHouses;let i = index;">
            <div *ngIf="!ghEditList[i]">
                <div class="user-col nameCol">{{gh.first_name}}</div>
                <div class="user-col nameCol">{{gh.last_name}}</div>
                <div class="user-col-email">{{gh.email}}</div>
                <div class="user-col cityCol">{{gh.city}}</div>
                <div class="user-col stateCol">{{gh.state}}</div>
                <div class="user-col lcNumCol">{{gh.locatorNumber}}</div>
                <div class="user-col-edit" title="EDIT">
                    <div (click)="editableRow(i,gh)">
                        <i class="material-icons valign_middle blue-icon">edit</i>
                    </div>
                </div>
                <div class="user-col-del" title="DELETE">
                    <div (click)="deleteGreenHouse(i)">
                        <i class="material-icons valign_middle blue-icon">delete</i>
                    </div>
                </div>
            </div>
            <div *ngIf="ghEditList[i]">
                <div class="user-col nameCol">
                    <mat-form-field class="example-full-width">
                        <input matInput [(ngModel)]="gh.first_name" name="first_name" required>
                    </mat-form-field>
                </div>
                <div class="user-col nameCol">
                    <mat-form-field class="example-full-width">
                        <input matInput [(ngModel)]="gh.last_name" name="last_name" required>
                    </mat-form-field>
                </div>
                <div class="user-col-email">
                    <mat-form-field class="example-full-width">
                        <input matInput [(ngModel)]="gh.email" name="email" required>
                    </mat-form-field>
                </div>
                <div class="user-col cityCol">
                    <mat-form-field class="example-full-width">
                        <input matInput [(ngModel)]="gh.city" name="city" required>
                    </mat-form-field>
                </div>
                <div class="user-col stateCol">
                    <mat-form-field class="example-full-width">
                        <input matInput [(ngModel)]="gh.state" name="state" required>
                    </mat-form-field>
                </div>
                <div class="user-col lcNumCol">
                    <mat-form-field class="example-full-width">
                        <input matInput [(ngModel)]="gh.locatorNumber" type="number" min="0" name="locatorNumber" required>
                    </mat-form-field>
                </div>
                <div class="user-col-save save-btn" title="{{formCtrl.form.valid?'SAVE':''}}">
                    <div (click)="saveGreenHouse(formCtrl)">
                        <i class="material-icons valign_middle" [ngClass]="{'blue-icon':formCtrl.form.valid}">save</i>
                    </div>
                </div>

                <div class="user-col-del" title="DELETE">
                    <div (click)="deleteGreenHouse(i)">
                        <i class="material-icons valign_middle blue-icon">delete</i>
                    </div>
                </div>
            </div>

        </div>
        <div class="add-user">
            <button mat-button (click)="addGreenHouse(true)" *ngIf="!showEditBox">
                <i class="material-icons valign_middle">add_circle</i> New Greenhouse</button>
        </div>

        <!-- <div class="btn-cont">
            <button mat-button (click)="closeDialog()">CLOSE</button>
             <button mat-raised-button color="primary" [disabled]="!formCtrl.form.valid" (click)="saveGreenHouse()">SAVE</button>
        </div> -->
    </form>
</div>