/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', 'sans-serif';
  outline: none;
}
.mat-select-underline {
    background-color: rgba(0, 0, 0, 0.14);
}
.input-white .mat-input-container .mat-input-placeholder,
.input-white .mat-select-placeholder {
  color: rgba(255,255,255,.9);
}

.input-white .mat-input-container .mat-focused .mat-input-placeholder,
.input-white .mat-focused .mat-select-placeholder {
  color: rgba(255,255,255,.5);
}

.input-white .mat-select-arrow {
  border-top-color: #FFF;
}

.form-input-model .mat-select-value{
  left:45%;
}

.input-white .mat-select-underline {
  background: rgba(255,255,255,.5);
}

.input-white .mat-select-value {
  color: #FFF;
}

md-list .active .mat-list-item-content {
  background: #EEE;
  box-shadow: inset 0 0 2px #CCC;
}

md-list .active .mat-list-text p {
  color: #4339AD;
}

.rotate_90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.valign_middle {
  vertical-align: middle;
}

.flex-display {
  display: flex;
  justify-content: space-between;
}
.flex-center {
  justify-content: left;
}

svg.icon {
  height: 20px;
  width: 20px;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

table tbody td md-select .mat-select-trigger {
  height: 25px;
}

table tbody td md-select .mat-select-trigger .mat-select-placeholder {
  font-size: 12px;
}

/* .st0{fill:#A03C3C;}
.st1{fill:#466432;}
.st2{fill:#A09632;}
.st3{fill:#785082;}
.st4{fill:#007542;}  */

.st0{fill:#A03C3C;}
.st1{fill:#A03C3C;}
.st2{fill:#A03C3C;}
.st3{fill:#466432;}
.st4{fill:#A09632;}
.st5{fill:#007542;}
.st6{fill:#A09632;}
.st7{fill:#466432;}
.st8{fill:#466432;}
.st9{fill:#785082;}

/* .st4{clip-path:url(#SVGID_2_);fill:#FFFFFF;} */
/* .st5{clip-path:url(#SVGID_2_);fill:#5C2B03;} */
/* .st6{clip-path:url(#SVGID_2_);fill:#007542;} */
/* .st7{fill:#007542;} */